---
import BlogPost from '@components/BlogPost.astro';
import Layout from '@layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'My Astro Learning Blog';

---

<Layout title="Welcome to Astro.">
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</Layout>
<style></style>
