---
import Layout from '@layouts/Layout.astro';
import Greeting from '@components/Greeting.jsx';
import BaseCard from '@components/BaseCard.vue';
import { UserApi } from '@apis/index.js';
const pageTitle = 'My Astro Site';
const description =
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.';
const response = await fetch('https://randomuser.me/api/');
const data = await response.json();
const randomUser = data.results[0];
console.log(await UserApi.getUser({results:1}))
---

<Layout title="Welcome to Astro.">
  
  <h1 class="text-red-600">{pageTitle}</h1>
  <div>
    <h2 class="text-red-600">API Call</h2>
    Remember, all data in Astro components is fetched when a component is rendered.
    Your deployed Astro site will fetch data once, at build time. In dev, you will see data fetches on component refreshes. If you need to re-fetch data multiple times client-side, use a framework component or a client-side script in an Astro component.
    <div class="m-10">
      <h3>{randomUser.name.first} {randomUser.name.last}</h3>
    </div>
  </div>
  <!-- Revisit your page and compare the two components.
		The second button works because the client:load directive tells
		Astro to send and rerun its JavaScript to the client when the page loads,
		making the component interactive. We call this a hydrated component. -->
  <Greeting messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
  <div style="display: flex">
    <BaseCard title="Card Title" description={description} pubDate={new Date()} />
    <BaseCard client:visible title="Card Title" description={description} pubDate={new Date()} />
  </div>
</Layout>

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
</style>
