<template>
    <div class="card">
        <div class="card__title">{{ title }}</div>
        <div class="card__description">{{ description }}</div>
        <div class="card__description">
            <button @click="incrementCounter({ increment: -1})">-</button>
            <p>{{ $counter }}</p>
            <button @click="incrementCounter({ increment: 1})">+</button>
        </div>
        <div class="card__publication-date">{{ pubDate }}</div>
    </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from 'vue';

import { useStore } from '@nanostores/vue';
import { counter, incrementCounter } from '@stores/store';

const { title, description, pubDate } = defineProps({
    title: { type: String, required: true },
    description: { type: String, required: true },
    pubDate: { type: Date, required: true },
});

const $counter = useStore(counter)
</script>

<style lang="scss">
.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    &__title {
        border-bottom: 1px solid black;
        background: #51b883;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        font-weight: bold;
    }
    &__description {
        margin: 30px 0px;
        font-style: italic;
    }
    &__publication-date {
        border-top: 1px solid black;
        background: #51b883;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: small;
        color: white;
        font-weight: bold;
    }
}
</style>